{% extends 'db.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
  <div class="func">
    <h1>Студенты</h1>
      <a href="{% url 'student:student_create' %}">Добавить</a> <b>|</b>
      <a href="{% url 'student:student_filter' %}">Отфильтровать</a>
      <button id="printButton">Печать</button>
  </div>
      <table border="1"  width="1347px">
          {% csrf_token %}
          <tr>
              <th>ФИО</th>
              <th>Пол</th>
              <th>Адресс</th>
              <th>Возраст</th>
              <th>Номер телефона</th>
              <th>Специальность</th>
              <th>Курс</th>
              <th>Форма обучения</th>
              <th>Изменить</th>
              <th>Удалить</th>
          </tr>
          {% for student in students %}
              <tr>
                  <td>{{ student.middle_name }} {{ student.name }} {{ student.last_name }}</td>
                  <td>{{ student.sex }}</td>
                  <td>{{ student.address }}</td>
                  <td>{{ student.age }}</td>
                  <td>{{ student.phone }}</td>
                  <td>{{ student.speciality }}</td>
                  <td>{{ student.course }}</td>
                  <td>{{ student.form_education }}</td>
                  <td><a href="">изменить</a></td>
                  <td>
                      <form method="POST" action="{% url 'student:delete_student' student.pk %}">{% csrf_token %}<button class="btn" type="submit">Удалить</button></form>
                  </td>
              </tr>
          {% empty %}
              <tr>
                <td colspan="10" style="padding: 15px;
                                       text-align: center;">Ещё нет студентов.</td>
              </tr>
          {% endfor %}
    </table>
<script>
    document.getElementById("printButton").addEventListener("click", function () {
        window.print();
    });
</script>
{% endblock content %}