{% extends 'db.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<div class="main">
    <article>
        Данное веб-приложение было разработанно для администрации Профессионального лицея №14 им. К.Дюшеева для
        облегчения работы и произведения учёта всех: предметов, специальностей, преподавателей (мастеров), студентов, а также
        учебных планов. Оно располагает такими функциями как: добавление, изменение, удаление, фильтрация и печать всей
        страницы, с установленными точными параметрами - датой и временем (когда было произведенно данное действие),
        также распечатывается название страницы. Все параметры печати можно с лёгкостью изменить в дополнительных
        настройках печати страницы. <br> Работа с таким веб - приложением упрощает работу и помогает быстро найти нужную для
        Вас информацию. В последующем оно будет только усовершенствоваться, чтобы работа не занимала много ваших сил и
        времени.
    </article>
    <div class="links"><a href="{% url 'home' %}">Назад</a></div>
</div>
{% endblock %}